.chart-container {
  position: relative;
  width: 100%;

  .empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    i {
      opacity: 0.3;
    }

    p {
      margin: 0;
      font-size: 0.875rem;
    }
  }
}
